<!-- This is the ERB page that will allow you to login -->
<form action="/login" method="post">
  <input id="username" name='username'/>
  <input is="password" type='password' name = 'password'/>
  <input type="submit" value="Log In"/>
</form>



